body.classified {
  margin-top: 30px;
  padding-bottom: 30px;
}

#classified-top {
  background-color: orange;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  height: 30px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 10;
}
#classified-bottom {
  background-color: orange;
  bottom: 0px;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  height: 30px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;
}

#classified-top.level-0,
#classified-bottom.level-0 {
  background-color: green;
}
#classified-top.level-1,
#classified-bottom.level-1 {
  background-color: yellow;
}
#classified-top.level-2,
#classified-bottom.level-2 {
  background-color: red;
}
